@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.menu-nav {
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__left {
    font-weight: bold;
    font-size: 1.7rem;
    cursor: pointer;
  }

  &__right {
    button {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  }
}
