@import "../../assets/styles/variables";

.footer {
  background-color: $primary;
  color: $white;
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  font-family: $font-title;
  font-size: 1rem;
}
