// 🎨 Colores
$black: #111111;
$white: #ffffff;
$lime-green: #a6ff00;
$blue-edit: #007bff;
$red-delete: #ff4d4f;
$green-confirm: #28a745;
$gray-bg: #f5f5f5;

//  Tipografía
$font-base: 'Helvetica Neue', sans-serif;
$font-title: 'Montserrat', sans-serif;

// Tamaños
$font-size-base: 1rem;
$font-size-title: 1.5rem;
$font-size-small: 0.875rem;

$button-padding: 0.5rem 1rem;
$form-input-padding: 0.5rem;

$dashboard-padding: 1rem;
